body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-color: #AB7A35;
}
.newsTitle{
    border-bottom:2px solid black;    
    position:relative;
}
img.centre {
    display: block;
    margin: auto;
    size: 40%;
    padding-bottom: 10px;
}
div.centre{
    text-align:center; 
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom:1px solid black;
    border-top:1px solid black;
}
div.columns{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
}
s{
    text-decoration:line-through;
}
